.myInfo 
{
    font-family:  Philosopher,'Times New Roman',Garamond,Arial;
    color:darkblue;
    font-size:20px;
}
.Header 
{
	font-family: Philosopher, 'Monotype Corsiva';
    color:Black;
	font-size: 3rem
}
.Header:hover
{
    color:green;
}
.footer
{
    color:lightgray;
    font-size:20px;
}
.addToList
{
	font-size:2.5rem;
	font-family: Philosopher, Arial;
}
.right-ribbon
{
	background-color:black;
}

.navigation
{
	float: left;
	text-decoration: none;
	background-color: rgb(220,220,220);
	padding: 0;
	margin: 0;
	width: 100%;
	font-size: 2rem;
}
.navigation a
{
	display: inline;
	text-decoration: none;
	color:black;
	padding: 8px 16px;
	font-family:  Philosopher, 'Monotype Corsiva';
}
.navigation
{
	text-decoration: none;
	background-color: rgb(220,220,220);
}

.navigation a:hover 
{
	text-decoration: none;
	background-color: rgb(100,220,0);
	color:white;
}

.left-body
{
	background:rgb(220,220,220);
}
.right-body
{
	background:rgb(220,220,220);
	width:100%;
	height: 100%;
}
